.wrapper{
    display: flex;align-items: flex-start;
    gap: 30px;
    margin-top: 30px;
}

.block{
    border: 1px solid;
    border-radius: 15px;
    padding: 5px 15px 15px;
    width: 300px;
    
}

.blockTitle{
    font-size: 18px;
    font-weight: bold;
    
}
.btn{
    color: rgb(34, 32, 141);
    margin: 10px;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
}
.btn:hover{
    box-shadow: 1px 2px 5px 1px;
}
.btn:active{
    background-color: red;
    color: white;
}